<div class="background-container">
    <img src="/assets/img/ImgLoginInstructor.jpg" alt="Fondo" class="background-image">
</div>

<!-- Contenedor que detecta el hover -->
<div class="form-wrapper">
  <button class="toggle-btn"></button>

  <!-- Formulario -->
  <div class="form-container">
    <h2>Login</h2>
    <div class="form-floating mb-3">
      <select class="form-select" id="floatingSelect">
        <option value="1">Instructor</option>
        <option value="2">Administrador</option>
      </select>
      <label for="floatingSelect">Rol</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Identificación"
        minlength="7"
        maxlength="10"
        required
      />
      <label for="floatingInput">Identificación</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Contraseña"
      />
      <label for="floatingPassword">Contraseña</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Iniciar</button>
  </div>
</div>
