<div class="topnav">
  <div class="logo">
    <img src="/assets/img/logoGAFIS.png" alt="Logo" class="logo-img" />
  </div>

  <div class="user-options">
    <!-- Menú de Usuario -->
    <div class="user-menu">
      <button class="user-icon">
        <i class="bi bi-person-circle"></i>
      </button>
      <div class="dropdown user-dropdown">
        <button>Perfil</button>
        <button>Cerrar Sesión</button>
        <!--<button (click)="logout()">Logout</button>-->
      </div>
    </div>

    <!-- Menú de Opciones -->
    <div class="user-menu">
      <button class="menu-icon">
        <i class="bi bi-list"></i>
      </button>
      <div class="dropdown menu-dropdown">
        <button>Configuración</button>
        <button>Solicitudes</button>
        <button>Formaciones</button>
      </div>
    </div>
  </div>
</div>
