@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

.layout-con-footer {
    display: flex;
    flex-direction: column;
    min-height: 160vh;
  }
  
  .layout-con-footer main {
    flex: 1;
  }
  
