<footer class="footer">
  <div class="footer-content">
    <div class="top-section">
      <img src="/assets/img/logo_empresa.png" alt="GDEN" class="gden" />
      <img
        src="/assets/img/gobierno_colombia.png"
        alt="Gobierno de Colombia"
        class="logo"
      />
    </div>

    <div class="footer-text">
      <p>Servicio Nacional de Aprendizaje SENA - Dirección General</p>
      <p>Calle 57 No. 8 - 69 Bogotá D.C. (Cundinamarca), Colombia</p>
      <p>Conmutador Nacional (57 1) 5461500 - Extensiones</p>
      <p>Atención presencial lunes a viernes 8:00 a.m. a 5:30 p.m.</p>
      <p>
        Todos los derechos reservados 2017 SENA -
        <a
          href="https://www.sena.edu.co/es-co/Paginas/politicasCondicionesUso.aspx"
          >Política de privacidad</a
        >
        y condiciones de uso
      </p>
      <p>
        <a
          href="https://www.sena.edu.co/es-co/transparencia/Documents/proteccion_datos_personales_sena_2016.pdf"
          >Política de Tratamiento de Datos</a
        >
        -
        <a href="https://compromiso.sena.edu.co/index.php?text=inicio&id=27"
          >Política de seguridad y privacidad</a
        >
      </p>
    </div>

    <div class="footer-bottom">
      <img src="/assets/img/minTrabajo.png" alt="Mintrabajo" class="logo" />
      <img src="/assets/img/sena.png" alt="SENA" class="logo" />
    </div>
  </div>
</footer>
